<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title></title>
    <link rel="stylesheet" href="../css/base.css?v=6"/>
    <script src="../libs/fontSize.js"></script>
    <link rel="stylesheet" href="../css/appDetail.css?v=912321"/>
    <!--<link rel="stylesheet" href="../css/common.css?v=81252"/>-->
    <!--<link rel="stylesheet" href="../libs/swiper/css/swiper.min.css"/>-->
</head>
<body>
<div id="smdfqr">
    <img src="../images/background.jpg" alt="" class="background"/>
    <div class="titlebar">
        <span class="back" @click="goback()"></span>
        <div class="title">应用试玩详情</div>
    </div>
    <!--<div class="reword">-->
        <!--<div class="reword-money">{{page.money}}</div>-->
    <!--</div>-->
    <div class="app-list">
        <div class="reword">
             <div class="reword-money">+{{page.money}}元</div>
            <div class="reword-text">任务奖励</div>
            <div class="reword-num">剩余<span>{{page.num}}</span>份</div>
        </div>
        <ul>
            <li>
                <div class="li-part1">
                    <div class="li-part1-left">
                        <img v-bind:src="page.logo" alt=""/>
                    </div>
                    <div class="li-part1-right">
                        <div>“<span>{{page.name}}</span>”</div>
                        <div>搜索关键字，长按应用名可复制</div>
                    </div>
                    <div class="firstStep"></div>
                </div>
                <div class="li-part2">
                    <div class="li-part2-left">appstore搜索排名第<span>{{page.rank}}</span>名</div>
                    <a href="javascript:;" class="li-part2-right" target="_blank" @click="goDownload()">前往下载</a>
                </div>
            </li>
            <li>
                <div class="li2-top">
                    <div class="secondStep"></div>
                    <div class="li2Text">打开应用<span style="color: black;font-weight: 800;">进入主界面</span>即可领取奖励</div>
                </div>
                <div class="li-part2">
                    <div class="li-part2-left">打开时请“允许”使用数据</div>
                    <a href="javascript:;" class="li-part2-right open-app" @click="openApp()">打开应用</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="btn">
        <a href="javascript:;" @click="getReward()">领取奖励</a>
    </div>
    <!--加载-->
    <!--<div class="loading" v-if="loading">-->
    <!--<img src="../images/loading.gif" alt=""/>-->
    <!--</div>-->
    <!--提示弹框-->
    <div class="tip" v-if="showTip">
        <div class="tip-content">
            <div class="tip-title">提示</div>
            <div style="text-align: center;">您正在进行试玩任务，此时退出</div>
            <div style="text-align: center;">则无法完成任务</div>
            <div style="text-align: center;margin-bottom: 10px;">是否继续退出？</div>
            <hr/>
            <div class="ok">
                <a href="javascript:;" @click="tipsure()">确认</a>
                <a href="javascript:;" @click="tipcancle()">取消</a>
            </div>
        </div>
    </div>
    </div>

    <!--放大图片弹框-->
    <div class="bigPic">
        <div class="titlebar">
            <a class="back"></a>
            <span class="back back2" @click="cancle()"></span>
            <span class="cancel">取消</span>
            <h3 id="titlebarText3" class="titlebar-text titlebarText3"></h3>
            <span class="submit submit3" @click="submit()">提交</span>
        </div>
        <!--<div class="imgBox">-->

        <!--<img :src="bigPicUrl" alt=""/>-->
        <!--<span @click="closeBigPic()"></span>-->
        <div class="swiper-container" style="margin-top: 3.26rem;">
            <div class="swiper-wrapper">
                <!--{{makeSureAjaxParams.imgurls}}-->
                <div class="swiper-slide" v-for="imgurl in makeSureAjaxParams.imgurls">
                    <!--<div>{{imgurl}}</div>-->
                    <img :src="imgurl" alt=""/>
                </div>
                <!--<div class="swiper-slide"><img src="../images/rent1.png" alt=""/></div>-->
                <!--<div class="swiper-slide"><img src="../images/rent1.png" alt=""/></div>-->
            </div>
            <!-- 如果需要分页器 -->
            <!--<div class="swiper-pagination"></div>-->

            <!-- 如果需要导航按钮 -->
            <!--<div class="swiper-button-prev"></div>-->
            <!--<div class="swiper-button-next"></div>-->

            <!-- 如果需要滚动条 -->
            <!--<div class="swiper-scrollbar"></div>-->
        </div>
        <!--</div>-->
    </div>


</div>

<script src="../libs/jquery/jquery.min.js"></script>
<script src="../tools/Bridge.js"></script>
<script src="../libs/swiper/js/swiper.min.js"></script>
<script src="../libs/axios/axios.min.js"></script>
<script src="../libs/vue/vue.min.js"></script>
<script src="../tools/mytools.js"></script>
<script src="../js/smdfqr.js?v=681828232"></script>
</body>
</html>

