@charset "utf-8";
/* ---------- css reset ---------- */
html,body{min-height:100%;min-width:320px;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;outline:none;-webkit-tap-highlight-color:rgba(255,0,0,0);}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;word-wrap:break-word;}
body,button,input,select,textarea{font-family:Microsoft YaHei,STXihei,STHeiti,Verdana,Arial,Helvetica,sans-serif;font-size:1rem;color:#333;}
th{text-align:inherit;}
ol,ul{list-style:none;}
fieldset,img{border:0;vertical-align:middle;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
ins,a{color:#000;text-decoration:none;}
a,img{-webkit-touch-callout:none; outline: none;}
table{border-collapse:collapse;}
input[type="button"],input[type="submit"],input[type="reset"],textarea{-webkit-appearance:none;}

.loading{
    display: block;
    z-index: 100000;
    width: 100%;
    height: calc(100% - 3.26rem);
    margin-top: 3.26rem;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.4);
}
.loading img{
    position: absolute;
    width: 2.22rem;
    height: 2.22rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}